@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    margin: 0 15px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: teal;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: teal;
    position: absolute;
    left: 20px;
    bottom: -4px;
}

#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: teal;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: teal;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    padding: 25px 15px;
    text-align: center;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100px;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #0bacec;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #34f554;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #32f0f0;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #6bf04a;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #cd4ef3;
}

#product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 {
    text-align: center;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
    position:relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    font-size: 12px;
    color: #303333;
}

#product1 .pro .des h5 {
    font-size: 14px;
    color: #222;
    padding: 7px 0;
}

#product1 .pro .des i {
    color: rgb(255, 196, 68);
    font-size: 12px;
}

#product1 .pro .des h4 {
    color: teal;
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}